jupyterhub:
  hub:
    services:
      dask-gateway:
        # generate with openssl rand -hex 32
        apiToken: "<api-token>"

    config:
      DummyAuthenticator:
        # You probably should use a real authenticator.
        password: "<the password>"

dask-gateway:
  gateway:
    auth:
      jupyterhub:
        # This should match the apiToken from above.
        apiToken: "<api-token>"
